{% extends 'base.html' %}
{% block content %}

    {% if trips %}
    {% for trip in trips %}
        <div class="card m-3 " style="width: 75%;">
            <header class="card-header" >
                <span class="card-header-title">Trip to {{ trip.name }}</a></span>
                <span class="card-header-subtitle m-3">Start date: <strong>{{ trip.start }} </strong></span>
            </header>
            <!-- <div class="card-content">
                
            </div> -->
            <footer class="card-footer">
                <a href="{% url 'trip_detail' trip.id %}" class="card-footer-item"><strong>View trip</strong></a>
                <a href="{% url 'trip_delete' trip.id %}" class="card-footer-item"><strong>Cancel trip</strong></a>
            </footer>
        </div>
    {% endfor %}
    {% else %}
    <p>No trips yet! Care to <a href="{% url 'trip_create' %}">Add one</a>?</p>
    {% endif %}
{% endblock %}