{% extends 'base.html' %}
{% block content %}
    {% if trips %}
    <h1>My Trips:</h1>
    {% for trip in trips %}
        <div class="card m-3">
            <header class="card-header" >
                <span class="card-header-title">Trip to {{ trip.name }}</a></span>
                <span class="card-header-subtitle">{{ trip.start }}</span>
            </header>
            <div class="card-content">
                
            </div>
            <footer class="card-footer">
                <a href="{% url 'trip_detail' trip.id %}" class="card-footer-item">View trip</a>
                <a href="{% url 'trip_delete' trip.id %}" class="card-footer-item">Cancel trip</a>
            </footer>
        </div>
    {% endfor %}
    {% else %}
    <p>No trips yet! Care to <a href="{% url 'trip_create' %}">Add one</a>?</p>
    {% endif %}
{% endblock %}