{% extends 'base.html' %}
{% block content %}
    <h1>Day {{ day.number }} in {{ day.city }}, {{ day.state }} {{ day.country }}</h1>
    <h3>{{day.date}}</h3>
    <hr>
    <h2>Staying at: {{ day.lodging }}</h2>
    <p>Temp(F): {{ weatherf }}</p><img src="{{ icon }}">
    <h3>activities:</h3>
    {% for activity in day.activities.all %}
    <ul>
        <li>{{activity.time}} - {{activity.name}} - {{activity.description}} - <a href="{% url 'activity_delete' day.id activity.id %}">Remove</a></li>
    </ul>
    {% endfor %}
    <form action="{% url 'activity_create' day.id %}" method="POST">
        {% csrf_token %}
        {{ activity_form.as_p }}
        <input type="submit" class="btn" value="Add Activity">
    <hr>
    <a href="{% url 'day_update' day.id %}">Edit Day</a>
    <a href="{% url 'trip_detail' day.trip_id %}">Back to trip</a>
{% endblock %}
