{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flier"><img src="{% static 'images/plane.png' %}" alt="A plane flying across the page"></div>
    <h1 class="mainfont">Go Away</h1>
    {% if user.is_authenticated %}
        
    {% else %}

    <div class="buttons has-addons">
        <a href="{% url 'signup' %}" class="button has-background-info-light">Sign up</a>
        <a href="{% url 'login' %}" class="button has-background-info-light">Log in</a>
    </div>
{% endif %}
{% endblock %}