body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
    /* background-color: rgb(9, 143, 143); */
    background-color: rgb(220, 231, 252);
}
main {
    flex: 1 0 auto;
}

.mainfont {
    font-family: 'Shrikhand', cursive;
    font-size: 12rem;
}

.mainbg {
    
}

.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
    animation: fly 5s linear 1;
    pointer-events: none !important;
	top: 43%;
	left: 50%;
	position: fixed;
	z-index: 999999;
    max-width: 320px;
}

@keyframes fly {

	0% {
		transform: translate(-100vw, 0);
	}
}

@media (max-width:800px) {
    .mainfont {
        font-family: 'Shrikhand', cursive;
        font-size: 6rem;
    }
    .flier > * {
        /* Adjust animation duration to change the element’s speed */
            animation: fly 5s linear 1;
            pointer-events: none !important;
            top: 30%;
            left: 37%;
            position: fixed;
            z-index: 999999;
            max-width: 200px;
        }
        @keyframes fly {

            0% {
                transform: translate(-100vw, 0);
            }
        }
}